appnope==0.1.0
asn1crypto==0.24.0
backcall==0.1.0
certifi==2019.6.16
cffi==1.12.1
chardet==3.0.4
Click==7.0
cryptography==2.5
cycler==0.10.0
decorator==4.4.0
idna==2.8
imageio==2.5.0
ipython==7.6.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.14.0
jwt==0.6.1
kiwisolver==1.1.0
MarkupSafe==1.1.0
matplotlib==3.1.0
networkx==2.3
numpy==1.15.4
opencv-contrib-python==4.1.0.25
panda==0.3.1
pandas==0.24.2
parso==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
prompt-toolkit==2.0.9
psycopg2-binary==2.7.7
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.4.2
PyJWT==1.7.1
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.0.3
requests==2.22.0
scikit-image==0.15.0
scikit-learn==0.20.0
scipy==1.1.0
six==1.12.0
sklearn==0.0
traitlets==4.3.2
urllib3==1.25.3
virtualenv==16.1.0
wcwidth==0.1.7
